 @import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Open+Sans&family=Over+the+Rainbow&family=Raleway&display=swap');

 .App {
   display: block;
   width: 100%;
   text-align: center;
   background-color: black;
   justify-content: center;
   align-items: center
 }

 .Navbar {
   width: 100%;
   display: block;
 }

 .nav {
   display: flex;
   justify-content: space-between;
   width: 90%;
   margin-left: 5%;
 }

 .nav h2 {
   font-family: 'Over the Rainbow';
   font-style: normal;
   font-weight: 400;
   font-size: 25.5px;
   line-height: 52px;
   color: #FFFFFF;
 }

 .nav p {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 19px;
   letter-spacing: 0.05em;
   text-transform: uppercase;
   color: #FFFFFF;
   margin-top: 1.8rem;
   cursor: pointer;
 }

 .FaBars {
   margin-top: 1.6rem;
   padding-left: 2rem;
   width: 2rem;
   height: 2rem;
   color: #FFFFFF;
 }

 .x {
   cursor: pointer;
   margin-left: 90%;
   margin-top: 1rem;
   color: #FFFFFF;
 }

 /*.Navbar nav{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  transition: 5s;
  transform: translateY(-100vh);
 }*/

 .menu-div{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  transition: 1s;
  transform: translateY(-100vh);
 }

 .menu-divi{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  transition: 1s;
  transform: none;
 }

.link{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22.4783px;
  line-height: 42px;
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
  text-decoration-style: none;
 }

 .menu-div ul {
   margin-left: 45%;
   list-style-type: none;
   text-align: left;
 }

 .menu-div li {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 23.4783px;
   line-height: 52px;
   color: #FFFFFF;
   cursor: pointer;
 }

 .popup {
   position: absolute;
   top: 6rem;
   width: 60%;
   height: 21rem;
   margin-left: 20%;
   justify-content: center;
   background: #181818;
   border-radius: 10px;
   transition: 1s;
 }

 .popupShow {
   position: absolute;
   top: 6rem;
   width: 60%;
   height: 21rem;
   margin-left: 20%;
   justify-content: center;
   background: #181818;
   border-radius: 10px;
   transition: 1s;
   transform: none;
 }

 .popupDiv {
   display: flex;
   width: 100%;
   height: 21rem;
   background: #181818;
   border-radius: 10px;
 }

 .section1 {
   display: block;
   width: 45%;
   text-align: left;
   margin-top: 2rem;
   margin-left: 3rem;
 }

 .section1 img {
   width: 100%;
 }

 .section1 p {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
   color: #C4C4C4;
 }

 .section1 h2 {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 28px;
   color: #FFFFFF;
 }

 .popupForm {
   display: flex;
   height: 3rem;
   width: 96%;
 }

 .popupForm input {
   width: 70%;
   background: #131313;
   color: #FFFFFF;
   border: none;
   padding-left: 1rem;
 }

 .popupForm button {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
   color: #000000;
   width: 30%;
 }

 .section2 {
   display: block;
   width: 40%;
   height: 16rem;
   margin-top: 2rem;
   margin-left: 2rem;
 }

 .list {
   display: flex;
   width: 100%;
   justify-content: space-between;
   border-bottom: 1px solid;
   border-color: rgba(255, 255, 255, 0.05);
   ;
 }

 .list p {
   font-family: 'railway';
   font-style: normal;
   font-weight: 600;
   font-size: 11.911px;
   line-height: 15px;
   text-align: right;
   color: rgba(255, 255, 255, 0.4);
 }

 .listFlex {
   display: flex;
   height: 3.5rem;
   margin-top: 0.5rem;
   text-align: left;
 }

 .listFlex img {
   width: 3rem;
   height: 3rem;
   object-fit: cover;
   border-radius: 0.5rem;
 }

 .listFlex h4 {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 600;
   font-size: 13.6126px;
   line-height: 1px;
   color: #FFFFFF;
   margin-left: 1rem;
 }

 .listFlex p {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 600;
   font-size: 11.911px;
   line-height: 4px;
   color: rgba(255, 255, 255, 0.4);
   margin-left: 0rem;
 }

 .block1 {
   width: 100%;
   height: 40rem;
   background-image: url(../public/background1.png);
   background-size: cover;
   background-repeat: no-repeat;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: #ffffff;
 }

 .block2 {
   width: 100%;
   height: 40rem;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: #ffffff;
 }

 .block2 h3 {
   font-family: "raleway";
   letter-spacing: 0.5em;
 }

 .text p {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.05em;
   text-transform: uppercase;
   color: #4F4F4F;
   margin-left: 5%;
 }

 .text {
   display: flex;
   width: 100%;
   justify-content: center;
 }

 .text ul {
   display: flex;
 }

 .text ul li {
   padding-right: 2rem;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.05em;
   text-transform: uppercase;
   color: #4F4F4F;
 }

 .slide {
   width: 100%;
   height: 25rem;
   display: block;
 }

 .swiper_container {
   width: 100%;
   height: 25rem;
   display: flex;
   justify-content: space-between;
   overflow-x: auto;
 }

 .swiper_container::-webkit-scrollbar {
   display: none;
   width: 0;
 }

 .control {
   width: 100%;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 3rem;
 }

 .slide img {
   width: 50%;
   height: 22rem;
   object-fit: contain;
 }

 .slide p {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 15.3419px;
   line-height: 26px;
   text-align: center;
   color: #949494;
 }

 .swiper-controller {
   display: flex;
   justify-content: space-between;
   width: 40%;
   margin-left: 30%;
 }

 .content {
   width: 35%;
   height: 25rem;
   text-align: center;
 }

 .content img {
   width: 100%;
   margin-top: 2rem;
   height: 20rem;
 }

 .contentp {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 15.3419px;
   line-height: 26px;
   text-align: center;
   color: #949494;
 }

 .prev-button {
   margin-top: 1.3rem;
 }

 .next-button {
   margin-top: 1.3rem;
 }

 .block3 {
   width: 100%;
   height: 40rem;
   color: #ffffff;
 }

 .block3 img {
   width: 100%;
   height: 40rem;
   object-fit: cover;
 }

 .block3 h1 {
   position: relative;
   width: 50%;
   bottom: 15rem;
   text-align: left;
   margin-left: 13%;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 64px;
   line-height: 68px;
   letter-spacing: -0.02em;
   color: #FFFFFF;
 }

 .block4 {
   display: block;
   width: 100%;
   height: 20rem;
   justify-content: center;
   align-items: center;
   text-align: center;
 }

 .block4 p {
   margin-left: 13%;
   text-align: left;
   width: 65%;
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 40px;
   color: #949494;
 }

 .Holder {
   padding-left: 5%;
   margin-top: 10rem;
   width: 90%;
   height: 75rem;
 }

 .Holder img {
   object-fit: cover;
 }

 .holder1 {
   width: 100%;
   display: flex;
   justify-content: space-between;
   background-color: black;
   -webkit-column-count: 3;
   -moz-column-count: 3;
   column-count: 3;
   -webkit-column-width: 50%;
   -moz-column-width: 50;
   column-width: 50%;
   padding: 0 0px;
 }

 .holder2 {
   position: relative;
   bottom: 17.5rem;
   width: 69%;
   margin-left: 31%;
   display: flex;
   justify-content: space-between;
   -webkit-column-count: 3;
   -moz-column-count: 3;
   column-count: 3;
   -webkit-column-width: 50%;
   -moz-column-width: 50;
   column-width: 50%;
   padding: 0 0px;
 }

 .holder3 {
   position: relative;
   bottom: 34.5rem;
   width: 100%;
   display: flex;
   justify-content: space-between;
   -webkit-column-count: 3;
   -moz-column-count: 3;
   column-count: 3;
   -webkit-column-width: 50%;
   -moz-column-width: 50;
   column-width: 50%;
   padding: 0 0px;
 }

 .img1 {
   width: 30%;
   height: 30rem;
 }

 .img2 {
   margin-left: 0.5rem;
   width: 69%;
   height: 12rem;
 }

 .img3 {
   top: 12.5rem;
   right: 16rem;
   width: 50%;
   height: 17.5rem;
 }

 .img4 {
   top: 12.5rem;
   right: 15.4rem;
   width: 48.5%;
   height: 35rem;
 }

 .img5 {
   top: 21rem;
   right: 40.2rem;
   Width: 65.5%;
   Height: 35rem;
 }

 .img6 {
   margin-top: 17.5rem;
   right: 40rem;
   width: 33.5%;
   height: 17.5rem;
 }

 .FooterDiv {
   width: 100%;
   height: 100vh;
   background-image: url(../public/back.png);
   background-size: cover;
   background-repeat: no-repeat;
   justify-content: center;
   align-items: center;
   text-align: center;
 }

 .block5 {
   display: flex;
   width: 100%;
   height: 40rem;
   justify-content: space-between;
   background-image: url(../public/background5.png);
   background-size: cover;
   background-repeat: no-repeat;
 }

 .box1 {
   display: block;
   width: 27%;
   margin-top: 1rem;
   margin-left: 5%;
 }

 .box1 p {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 54px;
   line-height: 58px;
   letter-spacing: -0.02em;
   color: #FFFFFF;
   text-align: left;
 }

 .socialFlex {
   display: flex;
   margin-top: 1rem;
   width: 100%;
   justify-content: space-between;
 }

 .socialDiv {
   display: flex;
   width: 46%;
   height: 3rem;
   border: 2px solid white;
   border-radius: 0.5rem;
 }

 .socialDiv img {
   margin-top: 0.5rem;
   margin-left: 0.5rem;
   width: 2rem;
   height: 2rem;
   object-fit: cover;
 }

 .socialTexts {
   display: block;
   text-align: left;
   height: 5rem;
   margin-left: 1rem;
 }

 .socialTexts p {
   font-size: 0.8em;
   line-height: 0.1rem;
 }

 .socialText span {
   font-family: "dm sans";
   line-height: 0.1rem;
 }

 .player {
   width: 50%;
   margin-right: 3%;
 }

 .player img {
   width: 100%;
 }

 .block6 {
   width: 100%;
   display: block;
   justify-content: center;
   align-items: center;
   background: #181818;
 }

 .blockDiv {
   display: block;
   width: 90%;
   padding: 5%;
 }

 .blockDiv img {
   width: 100%;
   height: 13rem;
 }

 .flexBar {
   display: flex;
   justify-content: space-between;
   width: 100%;
   height: 13rem;
 }

 .flexBar img {
   margin-top: 2rem;
   height: 8rem;
   width: 60%;
 }

 .emailSection {
   display: block;
   margin-top: 1rem;
   height: 8rem;
   width: 35%;
   justify-content: left;
   text-align: left;
 }

 .emailSection h2 {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 18px;
   color: #FFFFFF;
 }

 .emailSection p {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
   color: #C4C4C4;
 }

 .form {
   display: flex;
   height: 3rem;
   width: 100%;
 }

 .form input {
   width: 70%;
   background-color: #949494;
   color: #FFFFFF;
   border: none;
   padding-left: 1rem;
 }

 .form button {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
   color: #000000;
   width: 30%;
 }

 .FooterDiv h3 {
   padding-top: 8rem;
   font-family: 'Over the Rainbow';
   font-weight: 400;
   font-size: 38.675px;
   line-height: 22px;
   color: #ffffff;
 }

 .FooterDiv p {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 600;
   font-size: 11.911px;
   line-height: 14px;
   color: #FFFFFF;
 }

 .FooterDiv button {
   padding: 1rem;
   padding-left: 3.5rem;
   padding-right: 3.5rem;
   margin-top: 3rem;
   border: 2px solid;
   background-color: transparent;
   border-color: #ffffff;
   color: #ffffff;
   cursor: pointer;
 }

 .social {
   display: flex;
   justify-content: space-between;
   width: 9rem;
   height: 1.5rem;
   margin-left: 44.7%;
 }

 .menu-social {
   display: flex;
   justify-content: space-between;
   width: 9rem;
   height: 1.5rem;
   margin-left: 46%;
   margin-top: 6rem;
 }

 ::-webkit-scrollbar {
   width: 0.8rem;
   color: gray;
 }

 ::-webkit-scrollbar-thumb {
   border-radius: 1rem;
   background-color: #4F4F4F;
 }

 /* Gallery styles*/
 .Gallery {
   display: block;
   width: 100%;
   height: auto;
   text-align: center;
   background: black;
 }

 .Gallery h1 {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   width: 65%;
   margin-left: 20%;
   font-size: 64px;
   line-height: 68px;
   text-align: center;
   letter-spacing: -0.02em;
   color: #FFFFFF;
 }

 .Gallery h5 {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   text-align: center;
   color: #949494;
   margin-bottom: 10rem;
 }

 .Gallery_Holder {
   padding-left: 5%;
   width: 90%;
   height: 66rem;
 }

 .Gallery_Holder img {
   object-fit: cover;
 }

 /* Story styles */
 .Story {
   display: block;
   width: 100%;
   height: auto;
   background: black;
 }

 .story-div {
   display: flex;
   width: 90%;
   margin-left: 5%;
   margin-bottom: 8rem;
 }

 .story-div-block1 {
   display: block;
   width: 30%;
 }

 .story-div-block1 h1 {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   width: 100%;
   font-size: 64px;
   line-height: 68px;
   letter-spacing: -0.02em;
   color: #FFFFFF;
 }

 .story-div-block1 img {
   object-fit: cover;
   width: 100%;
   height: 16.9rem;
 }

 .story-image {
   height: 33.5%;
 }

 .story-image1 {
   margin-top: 1%;
   height: 56.5%;
 }

 .story-div-block2 {
   display: block;
   width: 69%;
   margin-top: 3rem;
   margin-left: 1%;
 }

 .story-div-block2 img {
   object-fit: cover;
   width: 100%;
 }

 .story-div-text {
   font-family: 'Raleway';
   font-style: normal;
   width: 85%;
   margin-left: 5%;
   font-weight: 500;
   font-size: 18px;
   line-height: 40px;
   color: #949494;
 }

 .story-div-email-section {
   width: 100%;
   display: block;
   justify-content: center;
   align-items: center;
 }

 /* Contact */
 .Contact {
   display: block;
   width: 100%;
   height: auto;
   background-color: black;
 }

 .contact-div {
   display: flex;
   width: 70%;
   margin-left: 15%;
   height: 40rem;
 }

 .contact-div1 {
   width: 50%;
   height: 85%;
 }

 .contact-div1 img {
   object-fit: cover;
   width: 100%;
   height: 100%;
 }

 .contact-div2 {
   display: block;
   width: 42%;
   margin-left: 8%;
 }

 .contact-div2 h1 {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 48px;
   line-height: 50px;
   color: #FFFFFF;
 }

 .contact-div2 p {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   color: #949494;
 }

 .contact-social {
   display: flex;
   justify-content: space-between;
   width: 7rem;
   height: 1.2rem;
 }

 .contact-form {
   display: block;
   width: 100%;
 }

 .contact-form input {
   width: 98%;
   border: none;
   padding-left: 1rem;
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 21px;
   color: #9D9D9D;
 }

 .input1 {
   background: #101010;
   padding: 0.8rem;
   margin-top: 1rem;
 }

 .input2 {
   background: #101010;
   padding: 0.8rem;
   margin-top: 0.5rem;
 }

 .input3 {
   display: block;
   background: #101010;
   height: 5rem;
   width: 99%;
   padding: 0rem;
   margin-top: 0.5rem;
   padding: 0.8rem;
   border: none;
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 21px;
   color: #9D9D9D;
 }

 .input3::-webkit-scrollbar {
   width: 0.4rem;
   color: gray;
 }

 .input3::-webkit-scrollbar-thumb {
   border-radius: 1rem;
   background-color: #4F4F4F;
 }

 .contact-button {
   margin-top: 0.5rem;
   width: 100%;
   text-align: center;
   padding: 0.7rem;
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   color: #000000;
   background-color: #FFFFFF;
 }

 .Music-div{
  display: block;
  height: auto;
  width: 100%;
  background-color: black;
 }


 @media screen and (max-width: 600px) {
   .block1 {
     width: 100%;
     height: 80vh;
     background-image: url(../public/mobie-back.png);
   }

   .nav h2 {
     font-size: 15.5px;
   }

   .nav p {
     font-size: 13.0122px;
     margin-top: 1.8rem;
   }

   .link{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22.4783px;
    line-height: 42px;
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
    text-decoration-style: none;
   }

   .popup {
     width: 90%;
     margin-left: 5%;
   }

   .popupDiv {
     display: block;
     height: 35rem;
   }

   .section1 {
     width: 90%;
     margin-left: 5%;
   }

   .section2 {
     width: 90%;
     margin-left: 5%;
   }

   .FaBars {
     width: 1.5rem;
     height: 1, 5rem;
   }

   .menu-div ul {
     margin-left: 32%;
   }

   .menu-div li {
     line-height: 92px;
     cursor: pointer;
   }

   .menu-social {
     margin-left: 36%;
     width: 8rem;
   }

   .block2 {
     height: 30rem;
   }

   .slide {
     height: 28rem;
   }

   .slide img {
     width: 80%;
     height: 14rem;
     object-fit: cover;
   }

   .slide p {
     font-family: 'DM Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 14.3419px;
     line-height: 10px;
     text-align: center;
     color: #949494;
   }

   .swiper_container {
    margin-top: 2rem;
     height: 16rem;
   }

   .swiper-controller {
     width: 80%;
     margin-left: 10%;
   }

   .block2 h3 {
     font-family: 'Raleway';
     font-style: normal;
     font-weight: 400;
     font-size: 21.9288px;
     line-height: 20px;
     letter-spacing: 0.5em;
     text-transform: uppercase;
     color: #FFFFFF;
     mix-blend-mode: normal;
   }

   .text {
     width: 95%;
     margin-left: 5%;
   }

   .text p {
     font-size: 12.6743px;
     letter-spacing: 0.03em;
     margin-left: 0%;
     margin-top: 1rem;
   }

   .block3 {
     height: 20rem;
   }

   .block3 img {
     height: 15rem;
   }

   .block3 h1 {
     top: 1rem;
     font-size: 24px;
     line-height: 26px;
     letter-spacing: -0.02em;
   }

   .block4 {
     height: 15rem;
   }

   .block4 p {
     width: 70%;
     font-family: 'Raleway';
     font-weight: 600;
     font-size: 14px;
     line-height: 30px;
   }

   .block5 {
     display: block;
     height: 60rem;
     background-image: url(../public/blur.png);
   }

   .box1 {
     width: 90%;
     padding-top: 3rem;
     margin-top: 2rem;
   }

   .player {
     width: 99%;
     margin-right: 0%;
     margin-top: 4rem;
     margin-left: 0.5%;
   }

   .player img {
     width: 100%;
   }

   .block6 {
     height: 33rem;
   }

   .blockDiv img {
     height: 5rem;
   }

   .img {
     position: relative;
     bottom: 6rem;
   }

   .flexBar {
     display: block;
   }

   .flexBar img {
     margin-top: 1rem;
     height: 5rem;
     margin-right: 40%;
   }

   .emailSection {
     position: relative;
     top: 8rem;
     width: 100%;
   }

   .Holder {
     padding-left: 0%;
     margin-top: 10rem;
     width: 100%;
     height: 30rem;
   }

   .Holder img {
     object-fit: cover;
   }

   .holder1 {
     width: 100%;
     display: flex;
     justify-content: space-between;
     background-color: black;
     -webkit-column-count: 3;
     -moz-column-count: 3;
     column-count: 3;
     -webkit-column-width: 50%;
     -moz-column-width: 50;
     column-width: 50%;
     padding: 0 0px;
   }

   .holder2 {
     position: relative;
     bottom: 8rem;
     width: 63.5%;
     margin-left: 36.5%;
     display: flex;
     justify-content: space-between;
     -webkit-column-count: 3;
     -moz-column-count: 3;
     column-count: 3;
     -webkit-column-width: 50%;
     -moz-column-width: 50;
     column-width: 50%;
     padding: 0 0px;
   }

   .holder3 {
     position: relative;
     bottom: 19.5rem;
     width: 100%;
     display: flex;
     justify-content: space-between;
     -webkit-column-count: 3;
     -moz-column-count: 3;
     column-count: 3;
     -webkit-column-width: 50%;
     -moz-column-width: 50;
     column-width: 50%;
     padding: 0 0px;
   }

   .img1 {
     width: 34%;
     height: 14.5rem;
   }

   .img2 {
     margin-left: 0.5rem;
     width: 64%;
     height: 6rem;
   }

   .img3 {
     top: 12.5rem;
     right: 16rem;
     width: 49%;
     height: 8rem;
   }

   .img4 {
     top: 12.5rem;
     right: 15.4rem;
     width: 48%;
     height: 20rem;
   }

   .img5 {
     top: 21rem;
     right: 40.2rem;
     Width: 67.5%;
     Height: 20rem;
   }

   .img6 {
     margin-top: 12rem;
     right: 40rem;
     width: 30.5%;
     height: 8rem;
   }

   .FooterDiv {

     height: 32rem;
   }

   .FooterDiv h3 {
     padding-top: 4rem;
     font-size: 36.675px;
     line-height: 0px;
   }

   .FooterDiv button {
     padding-left: 3rem;
     padding-right: 3rem;
     margin-top: 1rem;
   }

   .social {
     width: 7rem;
     height: 1.2rem;
     margin-left: 37%;
   }

   /* Gallery styles*/
   .Gallery {
     display: block;
     width: 100%;
     height: auto;
     text-align: center;
     justify-content: center;
     align-items: center;
     justify-items: center;
     align-content: center;
     background: black;
   }

   .Gallery h1 {
     font-family: 'Raleway';
     font-style: normal;
     font-weight: 400;
     width: 65%;
     margin-left: 18%;
     margin-top: 3rem;
     font-size: 25.6px;
     line-height: 27px;
     text-align: center;
     letter-spacing: -0.02em;
   }

   .Gallery h5 {
     font-family: 'Raleway';
     font-style: normal;
     font-weight: 500;
     width: 50%;
     margin-left: 25%;
     font-size: 12px;
     line-height: 14px;
     text-align: center;
     color: #949494;
     margin-bottom: 5rem;
   }

   .Gallery_Holder {
     padding-left: 0%;
     width: 100%;
     height: 35.5rem;
   }

   /* Story */
   .story-div-email-section {
     height: 35rem;
   }

   .story-div {
     width: 100%;
     margin-left: 0%;
     margin-bottom: 2rem;
   }

   .story-div-block1 {
     display: block;
     margin-top: 2rem;
     width: 40%;
   }

   .story-div-block1 h1 {
     margin-left: 10%;
     font-size: 25.6px;
     line-height: 27px;
     letter-spacing: -0.02em;
   }

   .story-div-block1 img {
     object-fit: cover;
     width: 100%;
     height: 8.1rem;
   }

   .story-image {
     height: 4.25rem;
   }

   .story-image1 {
     height: 8rem;
   }

   .story-div-block2 {
     width: 69%;
     margin-left: 1%;
   }

   .story-div-text {
     font-family: 'Raleway';
     font-style: normal;
     width: 85%;
     margin-left: 5%;
     font-weight: 500;
     font-size: 18px;
     line-height: 40px;
     color: #949494;
   }

   /* Contact */
   .contact-div {
     display: block;
     width: 90%;
     margin-left: 5%;
     height: auto;
   }

   .contact-div1 {
     width: 100%;
     height: 25rem;
     margin-top: 3rem;
   }

   .contact-div2 {
     display: block;
     width: 95%;
     margin-left: 0%;
     padding-bottom: 5rem;
   }

   .contact-social {
     margin-top: 3rem;
   }

   .input1 {
     margin-top: 2rem;
   }

   .input2 {
     margin-top: 1rem;
   }

   .input3 {
     margin-top: 1rem;
   }

   .contact-button {
     margin-top: 1rem;
   }

   .contact-div2 h1 {
    font-size: 36.4843px;
    line-height: 38px;
   }

   .contact-div2 p {
     font-weight: 600;
     font-size: 12.1614px;
     line-height: 15px;
   }
 }

 ;